
.box{
  width: 100px;
  height: 100px;
  border: 2px solid skyblue;
}

/*
.box-200{
width: 200px;
height: 200px;
}
.bg-green{
  background-color: green;
}
*/

.red{background-color: orangered;}
.blue{background-color: skyblue;}
.green{background-color: yellowgreen;}