body{
  margin: auto;
  width: 60vh;
  height: 100vh;
  background-color: rgb(178, 189, 169);
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 20px;
}

#enroll-area{
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 8fr 1fr 1fr;
  place-items: center center;
}



#enroll-area>*{
width: 80%;
height: 80%;
font-size: 24px;
}


#enroll-area >button{
  width: 90%;
  height: 80%;
  border: 2px solid black;
  background-color: rgb(100, 145, 130);
  border-radius: 20px;
}

#enroll-area>button:hover{
  cursor: pointer;
  color: white;
}

input[name="todo"].checked{
  text-decoration-style: line-through;
}